body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}

/* common */
body{
	font-family: "Roboto","Noto Sans KR", sans-serif;
}
.container{
	display: flex;
	width: 1000px;
	margin: 0 auto;
}
/* header */
#header{
	padding: 0px 30px;
	box-sizing: border-box;
}
#header .logo a{
	display: block;
	padding: 20px 0px;
	margin: 30px 0px;
}
#nav ul li{
	border-bottom: 1px solid #ccc;
	margin: 10px 0px;
}
#nav ul li a{
	display: block;
	text-align: center;
	line-height: 40px;
	padding: 10px 20px;

}

/* slider */
.slider{
	width: 750px;
	height: 350px;
}
.slider li{
	position: relative;
	width: 750px;
	height: 350px;
}
.slider li .keytext{
	position: absolute;
	right: 30px;
	top: 75px;
	text-align: right;
}
.slider li img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider li strong{
	display: block;
	font-weight: 400;
	color: #fff;
}
.slider li span{
	display: block;
	color: #fff;
}

/* main */
#section{
	display: flex;
	gap: 8px;
}
.notice{
	margin-top: 30px;
	width: 280px;
}
.notice .title{
	border-bottom: 1px solid #ccc;
}
.notice .title h3{
	display: inline-block;
	position: relative;
	top: 1px;
	font-weight: 400;
	font-size: 16px;
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.notice .content{
	margin-top: 10px;
}
.notice .content ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.notice .content ul li a{
	width: 205px;
	line-height: 30px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.notice .content ul li span{
	font-size: 13px;
	color: #ccc;
}
.gallery{
	margin-top: 30px;
	width: 280px;
}
.gallery .title{
	border-bottom: 1px solid #ccc;
}
.gallery .title h3{
	display: inline-block;
	position: relative;
	top: 1px;
	font-weight: 400;
	font-size: 16px;
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.gallery .content{
	margin-top: 30px;
}
.gallery .content ul{
	display: flex;
	gap: 9px;
}
.gallery .content ul li{
	border: 2px solid #ccc;
}

.banner{
	margin-top: 60px;
}
.banner ul li a{
	display: block;
	padding: 5px 10px;
	margin: 3px 5px;
}
.banner ul li a img{
	width: 30px;
	padding-right: 10px;
	vertical-align: middle;
}

/* footer */
#footer{
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	background-color: #eaeaea;
	padding: 20px 15px;
	box-sizing: border-box;
}
#footer .ft_logo a{
	display: block;
	padding: 5px 10px;
}
#footer .copyright{
	font-size: 14px;
	font-weight: 300;
}
