@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1em;
}

/* slider */
.slider {
	padding-top: 90px;
	overflow: hidden;
}
.slider .slider_image {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
.slider .slider_image .description {
	position: absolute;
	left: -10%;
	bottom: 0;
	padding-top: 60px;
	width: 50%;
	height: 50%;
	background-color: #fff;
	box-sizing: border-box;
}
.slider .slider_image .description strong {
	display: block;
	font-size: 4vw;
	font-weight: 700;
}
.slider .slider_image .description p {
	padding-top: 15px;
	line-height: 1.7;
}
.slider .slider_image .description .more {
	position: absolute;
	right: -40px;
	bottom: 57px;
}
.slider .slider_image .description .more img {
	width: 81px;
}
.slider .slider_image .previous {
	position: absolute;
	left: -140px;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
}
.slider .slider_image .next {
	display: flex;
	align-items: center;
	position: absolute;
	right: -140px;
	top: 50%;
	transform: translateY(-50%);
}
.slider .slider_image .number {
	margin-right: 35px;
	font-size: 0.938em;
	font-weight: 300;
}
.slider .slider_image .number .current {
	font-weight: 700;
}