@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	line-height: 1;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1em;
	box-sizing: border-box;
}
input[type=text],
input[type=password],
input[type=address],
input[type=reset],
input[type=submit],
textarea {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.inner{
	max-width: 1100px;
	margin: 0 auto;
}

/* header */
header .utils{
	background-color: #f1f1f1;
}
header .utils ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
}
header .utils ul a{
	display: block;
	padding: 5px 10px;
	color: #999;
	font-size: 0.875em;
}
header .utils ul .mypage{
	display: inline-block;
	margin-left: 10px;
	border-radius: 20px;
	background-color: #aaa;
	color: #fff;
}
header .hd_main{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 65px;
}
header .hd_main .logo{
	position: absolute;
	left: 0;
	top: 50%;
	width: 108px;
	height: 108px;
	transform: translateY(-50%);
	z-index: 100;
}
header .hd_main nav{
	margin-right: 50px;
}
header .hd_main nav ul{
	display: flex;
	gap: 60px;
}
header .hd_main nav ul li a{
	display: block;
	padding: 10px 20px;
	box-sizing: border-box;
}
header .hd_main .kids a{
	display: block;
	padding: 10px 0 10px 20px;
}

/* slider */
.main_slider{
	position: relative;
	width: 100vw;
	height: 525px;
	overflow: hidden;
}
.main_slider .s_img > ul{
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 500%;
	height: 100%;
}
.main_slider .s_img > ul > li{
	width: 20%;
	height: 100%;
}
.main_slider .s_img > ul > li > img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main_slider .pagination{
	position: absolute;
	left: 50%;
	bottom: 150px;
	transform: translateX(-50%);
}
.main_slider .pagination ul{
	display: flex;
	gap: 15px;
}

.main_slider .pagination ul li a{
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: #fff;
	font-size: 0;
	text-indent: -9999;
	overflow: hidden;
}
.main_slider .pagination ul li a.pagination_active{
	background-color: #ff9800;
}
/* section */
.section{
	position: relative;
	top: -68px;
}
.section .sect_top{
	display: flex;
	max-height: 184px;
}
.section .sect_top .left{
	width: 274px;
	padding: 10px 0;
	background-color: #efefef;
}
.section .sect_top .left .title ul{
	display: flex;
	justify-content: flex-start;
}
.section .sect_top .left .title ul li{
	position: relative;
}
.section .sect_top .left .title ul li:not(:first-child) a::before{
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 1px;
	height: 16px;
	background-color: #aaa;

}
.section .sect_top .left .title ul li a{
	display: block;
	padding: 5px 15px;
	line-height: 30px;
	font-size: 1.25em;
	font-weight: 300;
}
.section .sect_top .left .title ul li a.notice_active{
	font-weight: 500;
}
.section .sect_top .left .content{
	padding: 5px 15px;
}
.section .sect_top .left .content li a{
	display: block;
	line-height: 30px;
	font-size: 0.875em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.section .sect_top .mid ul{
	display: flex;
}
.section .sect_top .right{
	width: 274px;
	background-color: #efefef;
}
.section .sect_top .right .title{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	position: relative;
	padding: 20px;
}
.section .sect_top .right .title h3{
	font-size: 1.25em;
}
.section .sect_top .right .title span{
	font-size: 0.875em;
	font-weight: 300;
}
.section .sect_top .right .content{
	padding: 20px;
}
.section .sect_top .right .content .location{
	display: block;
	max-width: 235px;
	line-height: 35px;
	background-color: #fff;
	padding: 0 10px;
	margin-bottom: 10px;
}
.section .sect_top .right .content .center{
	display: block;
	max-width: 235px;
	line-height: 35px;
	background-color: #a69684;
	padding: 0 10px;
	color: #fff;
}