body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
dl,
dd {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #000;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}

body {
	position: relative;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}
body.fix{
	overflow: hidden;
}
li {
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}

.wrapper{
	position: relative;
	width: 100%;

}

/* gnb */
#gnbbar{
	height: 64px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

#gnbbar ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#gnbbar ul li a{
	display: block;
}


/* home */
#home{
	display: none;
}
#home.active{
	display: block;
}



/* chat */
#chat{
	display: none;
	position: relative;
	max-width: 60vw;
	width: 100%;
	height: 80vh;
	margin: 0 auto;
	padding: 2em;
	border: 1px solid #000;
	overflow-y: scroll;
}
#chat.active{
	display: block;
}
.message{
	position: relative;
	
}
.message li{
	border-bottom: 1px solid #ccc;
	line-height: 25px;
}
.message span{
	position: absolute;
	right: 0;
	cursor: pointer;
	color: red;
}
#chat form{
	position: fixed; 
	bottom: 64px;
	left: 50%;
	transform: translateX(-50%);
}
#chat form [type=text]{
	margin-right: 10px;
}
#chat form #name{
	width: 30%;
}
#chat form #text{
	width: 100%;
	line-height: 50px;
}


/* board */
#board{
	display: none;
	max-width: 600px;
    margin: auto;
    padding: 20px;
}
#board.active{
	display: block;
}
#board form{
	display: flex;
    flex-direction: column;
}
#board form input,
#board form textarea
{
	margin: 10px 0;
    padding: 10px;
}

/* user */
#user{
	display: none;
}
#user.active{
	display: block;
}