#about_me{
	@include padding-style(10vh 0 0);
	position: relative;
	.introduce{
		width: 100%;
		h3{
			@include padding-style(10px 0);
			font-size: 2.5em;
			border-bottom: 1px solid #fff;
			color: $main-color;
		}
		ul{
			list-style: circle;
			@include padding-style(0 25px);
			@include margin-style(20px 0);

			li{
				@include padding-style(10px 0);
				line-height: 50px;
				color: $main-color;
				font-size: 1.25em;
			}
		}
	}
}
