#project{
	@extend %section;
	@include padding-style(10vh 0 10vh);
	position: relative;
	height: 200vh;
	color: $main-color;

	.inr {
		h3{
			display: block;
			font-size: 3em;
			padding-bottom: 50px;
			letter-spacing: 10px;
		}
		ul {
			li {
				&:first-child{
					border-top: 1px solid #fff;
				}
				a{
					@include padding-style(8em 0);
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid #fff;
					color: $main-color;
					
					@media only screen and (max-width:1080px){
						@include padding-style(5em 0);
					}
					@media only screen and (max-width:780px){
						@include padding-style(3em 0);
					}
					.pro_left h4{
						@include padding-style(0 0 0 1.5em);
						font-size: 2.5em;
					
					}
					.pro_right{
						@include padding-style(0 1.5em 0 );
						width: 40%;

						p{
							display: block;
							font-size: 1.25em;
						}
					}
					.img_box{
						position: absolute;
						left:40%;
						top: 50%;
						width: 30%;
						height: 100%;
						transform: $translate-mid;
						z-index: 2;

						img{
							position: absolute;
							display: block;
							width: 10em;
							height: 10em;
							object-fit: contain;
							z-index: 99999;
						}
					}
				}
			}
		}
	}
	
}
