#project{
	@extend %section;
	@include padding-style(10vh 0 10vh);
	position: relative;
	height: 250vh;
	color: $main-color;
	@media only screen and (max-width:780px){
		height: 150vh;
	}
	.inr {
		h3{
			display: block;
			font-size: 3em;
			padding-bottom: 50px;
			letter-spacing: 10px;
		}
		ul {
			li {
				border-bottom: 1px solid #fff;
				&:first-child{
					border-top: 1px solid #fff;
				}
				a{	
					@include padding-style(10em 0);
					display: flex;
					position: relative;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					color: $main-color;

					@media only screen and (max-width:1080px){
						@include padding-style(8em 0);
					}
					@media only screen and (max-width:780px){
						@include padding-style(5em 0);
					}
					.pro_left h4{
						@include padding-style(0 0 0 1.5em);
						font-size: 2.5em;
						
					}
					.pro_right{
						@include padding-style(0 1.5em 0 );
						width: 30%;

						p{
							display: block;
							font-size: 1em;
							line-height: 1.5;
						}
					}
					.img_box{
						position: absolute;
						left:40%;
						top: 50%;
						width: 30%;
						height: 100%;
						transform: $translate-mid;
						z-index: 2;
						@media only screen and (max-width:780px){
							display: none;
						}
						img{
							display: block;
							position: absolute;
							width: 30em;
							height: 30em;
							object-fit: contain;
							z-index: 99999;
							
						}
					}
				}
			}
		}
	}
	
}
