body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.box1, 
.box2{
	display: inline-block;
	padding: 10px;
	width: 50px;
	height: 50px;
	background-color: #ccc;
}
.link1, .link2{
	display: inline-block;
	padding: 10px;
	width: 50px;
	height: 50px;
	background-color: #ccc;
}
.button{
	display: inline-block;
	padding: 10px 20px;
	background-color: orange;
	color: #fff;
	border-radius: 20px;
	transition: background-color 0.3s
}
.button:hover{
	background-color: #333;
	color: orange;
}
nav ul{
	display: flex;
	gap: 10px;

}
nav ul a{
	display: block;
	position: relative;
	line-height: 80px;
	font-size: 14px;
	color: #333;
}
nav ul a::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	height: 3px;
	background-color: #333;
	opacity: 0;
	transition: opacity 0.3s;
}
nav ul a:hover::after{
	opacity: 1;
}

.ft_menu{
	margin-top: 50px;

}
.ft_menu ul{
	display: flex;
}
.ft_menu ul a{
	display: block;
	position: relative;
	padding: 5px 10px;
}
.ft_menu ul li:first-child a{
	padding-left: 0;
}
.ft_menu ul a::after{
	content: "";
	position: absolute;
	right: 0;
	top: 10px;
	width: 1px;
	height: 14px;
	background-color: #999;
}
.ft_menu ul li:last-child a::after{
	display: none;
}